absl-py
blinker
boto3
botocore
certifi
chardet
charset-normalizer
click
colorama
contourpy
cycler
easyocr
et-xmlfile
filelock
fire
Flask
fonttools
fsspec
gitdb
GitPython
grpcio
huggingface-hub
idna
imageio
itsdangerous
Jinja2
jmespath
kiwisolver
lazy_loader
Markdown
MarkupSafe
matplotlib
mpmath
networkx
ninja
numpy
opencv-python
opencv-python-headless
openpyxl
packaging
pandas
pillow
protobuf
psutil
py-cpuinfo
pybboxes
pyclipper
pyparsing
python-bidi
python-dateutil
python-dotenv
python-magic
pytz
PyYAML
requests
requests-toolbelt
roboflow
s3transfer
sahi
scikit-image
scipy
seaborn
shapely
six
smmap
sympy
tensorboard
tensorboard-data-server
termcolor
terminaltables
thop
tifffile
torch
torchvision
tqdm
typing_extensions
tzdata
ultralytics
Werkzeug
yolov5
